<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error ! Stop.</title>
</head>
<body><center>
    <br><br>

<div class="row">
    <div class="col-lg-8"></div>
    <div class="col-lg-2">

         {% load staticfiles %}
                            <img src="{% static "giphy.gif" %}" style="height: 50%;width:35%" alt="Error! Only One Admin can login...."/>

    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row">
    <div class="col-lg-8"></div>
    <div class="col-lg-2">

         {% load staticfiles %}
                            <img src="{% static "2.png" %}" style="height: 50%;width:35%" alt="Error! Only One Admin can login...."/>

    </div>
    <div class="col-lg-2"></div>
</div>
    <div class="row"><a href="/">Back</a></div>
</center>
</body>
</html>