{% extends "app-layout.html" %}
{% block title %}Create Booking{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <form v-on:submit.prevent="searchCustomer()">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter Customer's Driver's License Number" v-model="searchParam" id="drivers-license" required>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
        
        <div class="alert alert-light alert-dismissible fade show border" role="alert" v-if="!search.inProgress && !search.found && !createCustomer">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" v-on:click="reset()">
                <span aria-hidden="true">&times;</span>
            </button>
            <div v-if="search.customerStatus === 'unavailable'">
                No Customer found matching your search <span class="font-weight-bold">"[[ searchParam ]]"</span>.
                <hr>
                Click on the button to create a new customer. <button class="btn btn-success btn-sm" v-on:click="createCustomer = !createCustomer">Create</button>
            </div>
            <div v-if="search.customerStatus === 'active'">
                Customer account is currently being used for another booking.
            </div>
        </div>

        <div class="card mb-3" v-if="createCustomer">
            <div class="card-header bg-white">
                <b>Create Customer</b>
            </div>
            <div class="card-body">
                <form class="form-horizontal" v-on:submit.prevent="createCust()" id="create-customer-form"  method="POST" action="/createCust/">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-6">
                            <label>First Name</label>
                            <input type="text" class="form-control" placeholder="Enter Customer's First Name" name="first_name" required>
                        </div>
                        <div class="form-group col-6">
                            <label>Last Name</label>
                            <input type="text" class="form-control" placeholder="Enter Customer's Last Name" name="last_name" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" placeholder="Enter Customer's Phone Number" name="phone_no" maxlength="10" required>
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <label>Driver's License Number</label>
                            <input type="text" class="form-control" placeholder="Enter Customer's Driver's License Number" name="driving_license" required>
                        </div>

                        <div class="form-group col-6">
                            <label>Expiration Date</label>
                            <input type="date" class="form-control" name="expiry_date" required>
                        </div>
                    </div>
                    <hr>
                    <div class="float-right">
                        <button type="submit" class="btn btn-success">Create Customer</button>
                        <button type="reset" class="btn btn-light">Reset</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card mb-3" v-if="createBooking">
            <div class="card-header bg-white">
                <b>Create Booking</b>
            </div>
            <div class="card-body">
                {% include "partials/create-booking-form.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block vue %}
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        mounted() {
            let driversLicenseMask = IMask(document.getElementById('drivers-license'), {
                mask: '#-0000-000000-00',
                definitions: {
                    '#': /[a-zA-Z]/
                },
                prepare: function (str) {
                    return str.toUpperCase();
                }
            })
        },
        data() {
            return {
                createCustomer: false,
                createBooking: false,
                search: {
                    inProgress: true,
                    found: false,
                    customerStatus: ""
                },
                license_plate: "",
                searchParam: "",
                start_date: null,
                customer: null,
                catalog: {{ cars|safe }},
                totalCost: 100.00,
                carUnavailable:false
            }
        },
        watch: {
            searchParam(val) {
                this.reset()
            },
            'search.found'(val) {
                this.createCustomer = (!val) ? true : false;
                this.createBooking = (val) ? true : false;
            },
            license_plate(val) {
                if (val) {
                    axios.get('/selectCar/', {
                    params: {
                      license_plate: this.license_plate
                    }
                  }).then((response) => {
                      let res = response.data.data

                        if(res.status === "unavailable") {
                            this.carUnavailable = true

                            this.catalog = res.catalog
                        } else {
                            this.carUnavailable = false
                        }
                  }).catch((error) => {

                  });
                }
            }
        },
        methods: {
            searchCustomer() {
                axios.get('/findCust/', {
                    params: {
                      driving_license: this.searchParam
                    }
                  }).then((response) => {
                    this.booking(response.data)
                  }).catch((error) => {
                    this.search.inProgress = false
                    this.search.found = false
                  });
            },
            createCust() {
                let customer = { }

                $.each($('#create-customer-form').serializeArray(), function() {
                    customer[this.name] = this.value;
                });

                this.booking({found:true, customer: customer})

                axios.post('/createCustForBooking/', $('#create-customer-form').serialize())
            },
            booking(data) {
                this.search.inProgress = false

                if(data.found) {
                    this.search.found = true

                    this.customer = data.customer
                } else {
                    this.search.customerStatus = data.status

                    this.search.found = false
                }
            },
            reset() {
                this.search.inProgress = true,
                this.search.found = false,
                this.createCustomer = false,
                this.createBooking = false
            }
        }
    });
</script>
{% endblock %}

